<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reservation List</title>
    <link
      rel="stylesheet"
      href="./node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="./node_modules/@fortawesome/fontawesome-free/css/all.min.css"
    />
    <!-- CSS Section  -->
    <link rel="stylesheet" href="./Content/app.css" />

    <!--Scripts that wil trigger before the page loads-->
  </head>
  <body>
    <!--Main Header-->
    <header></header>

    <main class="container">
      <!-- <div class="hero-text-box"> -->
      <h1 class="primary-heading">
        <i class="fa-solid fa-hotel"></i> Reservation List
      </h1>

      <div class="row">
        <div class="col">
          <table class="table table-striped table-bordered table-hover">
            <thead class="table-light">
              <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col">Reservation ID</th>
                <th scope="col">Reservation Start Date</th>
                <th scope="col">Reservation End Date</th>
                <th scope="col">Number of People</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody id="reservationList"></tbody>
          </table>
        </div>
      </div>
    </main>

    <!--Footer-->
    <footer></footer>
    <!--Footer-->

    <script src="./node_modules/jquery/dist/jquery.min.js"></script>
    <script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./Scripts/authorization.js"></script>
    <script src="./Scripts/namespace.js"></script>
    <script src="./Scripts/reservation.js"></script>
    <script src="./Scripts/user.js"></script>
    <script src="./Scripts/guest.js"></script>
    <script src="./Scripts/app.js"></script>
  </body>
</html>
