<section class="section-hero">
  <div class="hero">
    <div class="hero-img-box">
      <img
        src="./Server/Images/tholaal-mohamed-8sKTHeGgrUM-unsplash.jpg"
        class="hero-img"
        alt="iPhone app delivery screen"
      />
    </div>
  </div>
</section>
