<section class="section-hero">
  <div class="hero">
    <div class="hero-img-box">
      <img
        src="./Server/Images/tholaal-mohamed-8sKTHeGgrUM-unsplash.jpg"
        class="hero-img"
        alt="Birds eye view of tropical resort"
      />
    </div>
    <div class="hero-text-box">
      <h1 class="primary-heading"><i class="fa-solid fa-hotel"></i> Gallery</h1>
    </div>
  </div>
</section>
