<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="@fortawesome/fontawesome-free/css/all.min.css"
    />
    <!-- CSS Section  -->
    <link rel="stylesheet" href="Content/app.css" />

    <!--Scripts that wil trigger before the page loads-->
    <!-- <script src="./Scripts/router.js"></script> -->
  </head>
  <body>
    <!--Main Header-->
    <header></header>

    <!--Main Content-->
    <main class="container">
      <%= title %>
      <section class="section-hero">
        <div class="hero">
          <div class="hero-text-box">
            <h1 class="primary-heading">
              <i class="fa-solid fa-hotel"></i> Welcome to The Obsidan Hotel
              Website
            </h1>
            <h3 class="hero-subheading">Our Mission</h3>
            <p class="hero-description">
              The Obsidian Hotel's goal is to create a rejuvenating client-based
              atmosphere and experience for our guest-focused boutique
              accommodation by providing state of the art amenities and 24/7
              front desk support. We offer a unique middle ground for all types
              of travellers like backpackers, ecotourists, and comfy travellers.
            </p>
          </div>
        </div>
      </section>
    </main>

    <!-- Footer -->
    <footer></footer>

    <!-- Scripting Section -->
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- <script src="./Scripts/namespace.js"></script> -->

    <!-- <script src="./Scripts/app.js"></script> -->
  </body>
</html>
