<!-- <section class="section-hero">
  <div class="hero">
    <div class="hero-text-box">
      <h1 class="primary-heading">
        <i class="fa-solid fa-hotel"></i> Welcome to The Obsidan Hotel Website
      </h1>
      <h3 class="hero-subheading">Our Mission</h3>
      <p class="hero-description">
        The Obsidian Hotel's goal is to create a rejuvenating client-based
        atmosphere and experience for our guest-focused boutique accommodation
        by providing state of the art amenities and 24/7 front desk support. We
        offer a unique middle ground for all types of travellers like
        backpackers, ecotourists, and comfy travellers.
      </p>
    </div>
  </div>
</section> -->

<section class="section-about">
  <div class="about-container">
    <span class="subheading">The Obsidian Hotel</span>
    <h2 class="heading-secondary">Welcome to your tropical escape.</h2>
    <img
      class="hotel-img"
      src="/Assets/tholaal-mohamed-8sKTHeGgrUM-unsplash.jpg"
      alt="A picture of Dave"
    />
    <div class="about-hotel">
      <figure class="testimonial about">
        <h3 class="about-text">
          The Obsidian Hotel's goal is to create a rejuvenating client-based
          atmosphere and experience for our guest-focused boutique accommodation
          by providing state of the art amenities and 24/7 front desk support.
          We offer a unique middle ground for all types of travellers like
          backpackers, ecotourists, and comfy travellers. The Obsidian Hotel can
          be discovered on the East Coast of Tulum, Mexico.
          <br />
          <br />
          The exhilarating architecture emboldens you to truly absorb it's
          authentic Mayan culture. The hotel is a fusion between Mayan
          architecture and modern contemporary design which can be observed as
          art in itself. The Obsidian Hotel exudes the Mayan culture which will
          allow you to be absorbed into the heritage.
          <br />
          <br />
          This boutique indie hotel offers travellers with a variety of
          different experiences not only throughout the hotel but our excursion
          desk offers a multitude of travel excursions for foodies, adventurers,
          and travellers looking to relax.
        </h3>
      </figure>

      <!-- <figure class="testimonial">
        <img
          class="testimonial-img"
          src="img/customers/ben.jpg"
          alt="A picture of Dave"
        />

        <blockquote class="testimonial-text">
          The AI algorithm is crazy good, it chooses the right meals for
          me every time. It's amazing not to worry about food anymore!
        </blockquote>
        <p class="testimonial-name">&mdash; Ben Hadley</p>
      </figure>

      <figure class="testimonial">
        <img
          class="testimonial-img"
          src="img/customers/steve.jpg"
          alt="A picture of Dave"
        />

        <blockquote class="testimonial-text">
          Omnifood is a life saver! I just started a company, so there's
          no time for cooking. I couldn't live without my daily meals now!
        </blockquote>
        <p class="testimonial-name">&mdash; Steve Miller</p>
      </figure>

      <figure class="testimonial">
        <img
          class="testimonial-img"
          src="img/customers/hannah.jpg"
          alt="A picture of Dave"
        />

        <blockquote class="testimonial-text">
          I got Omnifood for the whole family, and it frees up so much
          time! Plus, everything is organic and vegan and without plastic.
        </blockquote>
        <p class="testimonial-name">&mdash; Hannah Smith</p>
      </figure> -->
    </div>
  </div>
</section>
