<h1><i class="fa-solid fa-hotel"></i> Rooms</h1>

<div id="slider">
  <input type="radio" name="slider" id="slide1" checked />
  <input type="radio" name="slider" id="slide2" />
  <input type="radio" name="slider" id="slide3" />
  <input type="radio" name="slider" id="slide4" />
  <div id="slides">
    <div id="overflow">
      <div class="inner">
        <div class="slide slide_1">
          <div class="slide-content">
            <ul class="room-details">
              <img src="/Assets/andrew-neel-B4rEJ09-Puo-unsplash.jpg" alt="" />
              <div>
                <h3 class="room-heading">Twin Room with Beach View</h3>
                <p class="room-text">
                  A private rejuvenating retreat that offers relaxing amenities
                  as well as a beach front view.
                </p>
                <li>
                  <i class="fa-regular fa-square"></i>
                  <span>250 – 350 sq/ft</span>
                </li>
                <li>
                  <i
                    class="fa-solid fa-umbrella-beach room-icon"
                    style="color: #311a22"
                  ></i>
                  <span>Beach View</span>
                </li>
                <li>
                  <i
                    class="fa-solid fa-bed room-icon"
                    style="color: #311a22"
                  ></i>
                  <span>Twin Bed</span>
                </li>
              </div>
            </ul>
          </div>
        </div>
        <div class="slide slide_2">
          <div class="slide-content">
            <ul class="room-details">
              <img
                src="/Assets/rhema-kallianpur-uocSnWMhnAs-unsplash.jpg"
                alt=""
              />

              <h3>Double Room with Beach View</h3>
              <p class="room-text">
                A private rejuvenating retreat that offers relaxing amenities as
                well as a beach front view.
              </p>

              <div class="room-highlights">
                <li>
                  <i class="fa-regular fa-square"></i>
                  <span>250 – 350 sq/ft</span>
                </li>
                <li>
                  <i
                    class="fa-solid fa-umbrella-beach room-icon"
                    style="color: #311a22"
                  ></i>
                  <span>Beach View</span>
                </li>
                <li>
                  <i
                    class="fa-solid fa-bed room-icon"
                    style="color: #311a22"
                  ></i>
                  <span>Double Bed</span>
                </li>
              </div>
            </ul>
          </div>
        </div>
        <div class="slide slide_3">
          <div class="slide-content">
            <ul class="room-details">
              <img
                src="/Assets/christopher-jolly-GqbU78bdJFM-unsplash.jpg"
                alt=""
              />
              <div>
                <h3>Queen Room with Balcony & Beach View</h3>
                <p class="room-text">
                  A private rejuvenating retreat that offers relaxing amenities
                  as well as a beach front view.
                </p>
                <li>
                  <i class="fa-regular fa-square"></i>
                  <span>250 – 350 sq/ft</span>
                </li>
                <li>
                  <i
                    class="fa-solid fa-umbrella-beach room-icon"
                    style="color: #311a22"
                  ></i>
                  <span>Beach View</span>
                </li>
                <li>
                  <i
                    class="fa-solid fa-bed room-icon"
                    style="color: #311a22"
                  ></i>
                  <span>Queen Bed</span>
                </li>
              </div>
            </ul>
          </div>
        </div>
        <div class="slide slide_4">
          <div class="slide-content">
            <ul class="room-details">
              <img
                src="/Assets/anna-sullivan-f7fZg21B3ms-unsplash.jpg"
                alt=""
              />
              <div>
                <h3>King Ensuite with Balcony & Beach view</h3>
                <p class="room-text">
                  A private rejuvenating retreat that offers relaxing amenities
                  as well as a beach front view.
                </p>
                <li>
                  <i class="fa-regular fa-square"></i>
                  <span>250 – 350 sq/ft</span>
                </li>
                <li>
                  <i
                    class="fa-solid fa-umbrella-beach room-icon"
                    style="color: #311a22"
                  ></i>
                  <span>Beach View</span>
                </li>
                <li>
                  <i
                    class="fa-solid fa-bed room-icon"
                    style="color: #311a22"
                  ></i>
                  <span>King Bed</span>
                </li>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="bullets">
    <label for="slide1"></label>
    <label for="slide2"></label>
    <label for="slide3"></label>
    <label for="slide4"></label>
  </div>
</div>
